html {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paginas {
    margin-left: 15px;
}

section > div {
    display: flex;
}

.sobre > div {
    margin: 5px
}
/* Todos os id's da aplicação */

#foto {
    width: 220px;
    border-radius: 10px;
}