*::after {
    margin: 0;
    padding: 0;
}

/* Header e Navbar */

.nav-logo {
    color: #5a5a55;
    font-family: 'DM Sans';
}

.nav-logo>span {
    color: #2A6EF5;
}

header {
    align-items: center;
    border-bottom: 1px solid #D7D7D7;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}

header div {
    font-size: 13px;
    font-family: 'Syne';
}

header>span {
    font-size: 14px;
    font-family: 'DM Sans';
    color: #5A5A55
}

.nav-links>li {
    align-items: center;
    display: inline-flex;
    margin-inline: 15px;
    font-size: 14px;
    font-family: 'DM Sans';
}

.nav-links a {
    color: #5A5A55;
    text-decoration: none;
}

/* Corpo do site */

body {
    background: #f7f6f2;
    color: #1a1a18;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}

body>section {
    margin-top: 15px;
}

/* Apresentação */

.introducao {
    padding: 20px 60px;
}

h1 {
    font-family: 'Syne';
    font-size: 45px;
    line-height: 1;
    margin: 0;
}

.container-1>h1 {
    display: flex;
    align-items: flex-start;
}

.subtitulo {
    color: #A0A098;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.grid-apresentacao {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.aprensetacao-btn {
    display: flex;
    gap: 20px;
    margin-top: 30px;

}

/* Bolinha piscando do "Bora codar" */
.bora-codar {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 11px;
    color: #2A6EF5;
    background: var(#000);
    border: 1px solid #c5d8ff;
    padding: 5px 14px;
    border-radius: 100px;
    margin-bottom: 32px;
    letter-spacing: .5px;
}

.bora-codar::before {
    content: '';
    width: 6px;
    height: 6px;
    background: #2a6ef5;
    border-radius: 50%;
    animation: pulse 2s ease infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
        transform: scale(1)
    }

    50% {
        opacity: .4;
        transform: scale(.8)
    }
}

.painel-branco {
    background-color: #fff;
    border: 1px solid #e8e5df;
    border-radius: 15px;
    counter-reset: lines;
    font-family: 'JetBrains Mono';
    padding: 24px 28px;
    line-height: 1.95;
    box-shadow: 0 4px 40px rgba(0, 0, 0, .07);
    min-width: 320px;
}

.painel-pontos {
    display: flex;
    gap: 7px;
    margin-bottom: 15px;
}

/* Contagem das linhas do painel com counter */
.cl {
    display: flex;
    gap: 20px;
}

.cl::before {
    counter-increment: lines;
    content: counter(lines);
    color: #000;
    opacity: .6;
    min-width: 14px;
    text-align: right;
    user-select: none;
    font-size: 16px;
}

/* Cores das palavras do painel */
.pr {
    color: #2a6ef5;
}

.kw {
    color: #c44a6e;
}

.str {
    color: #2a8a5a;
}

.num {
    color: #d4753a;
}

.cm {
    font-style: italic;
    color: #a0a098;
}

.fn {
    color: #7b52d4;
}

/* Todos os id's da aplicação */

#descricao {
    font-size: 17px;
    color: #5a5a55;
    font-weight: 300;
    max-width: 549px;
    line-height: 1.75;
    margin-bottom: 48px;
}

/* Aprensetação */
#btn-projetos {
    align-items: center;
    display: inline-flex;
    background-color: #1A1A18;
    border-radius: 12px;
    color: #F7F6F2;
    text-decoration: none;
    padding: 12px 18px;
}

#btn-contatos {
    align-items: center;
    display: inline-flex;
    color: #5A5A55;
    text-decoration: none;
}

/* Painel Branco */
#ponto-r {
    background-color: #FF5F57;
    border-radius: 100%;
    width: 10px;
    height: 10px;
}

#ponto-y {
    background-color: #FEBC2E;
    border-radius: 100%;
    width: 10px;
    height: 10px;
}

#ponto-g {
    background-color: #28C840;
    border-radius: 100%;
    width: 10px;
    height: 10px;
}